atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  &.is-focused .cursor {
    border-color: #BBBCBD;
  }

  &.is-focused .selection .region {
    background-color: #3C3F42;
  }

  &.is-focused .line-number.cursor-line-no-selection,
  &.is-focused .line.cursor-line {
    background-color: @darkergrey;
  }
}


.atom-dock-toggle-button {
  display: none;
}

.pane {
  background-color: @syntax-background-color;
}

atom-text-editor {
  // default styling
  .invisible-character {
    color: #51565A;
  }

  &,
  .gutter {
    transition: .2s background linear;
    background: @syntax-background-color;

    .line-number {
      color: @syntax-background-color;
    }

    .icon-right {
      display: none;
    }
  }
}

.active {
  // make active pane darker
  atom-text-editor,
  .tab-bar,
  .gutter,
  &.pane {
    background-color: @activebg;
  }

  .gutter {
    .line-number {
      color: @darkgrey;

      &.cursor-line-no-selection {
        color: @syntax-text-color;
      }
    }
  }
}


// tab bar
.tab-bar {
  background-color: @syntax-background-color;
  box-shadow: 0 0 0 0;

  .syntax--tab {
    .syntax--title {
      background-color: @syntax-background-color;
    }

    &.active,
    &.active .syntax--title {
      background-color: @activebg !important;
    }

    &:after {
      border-bottom-color: transparent !important;
    }
  }
}

.tree-view {
    * {
      color: @beige;
    }

    [data-name*='.scss'],
    [data-name*='.css'],
    [data-name*='.less'],
    [data-name*='.sass'] {
      color: @brightgreen;
    }

    [data-name*='.js'],
    [data-name*='.json'] {
      color: @lightblue;
    }

    [data-name*='.tmpl'],
    [data-name*='.jsp'],
    [data-name*='.html'],
    [data-name*='.hbs'],
    [data-name*='.htm'],
    [data-name*='.tag'],
    [data-path*='.tld'] {
      color: @orange;
    }

    [data-name^='.'] {
      color: @red;
    }
}