atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  &.is-focused .cursor {
    border-color: #BBBCBD;
  }

  &.is-focused .selection .region {
    background-color: #3C3F42;
  }

  &.is-focused .line-number.cursor-line-no-selection,
  &.is-focused .line.cursor-line {
    background-color: @darkergrey;
  }

  // default styling
  .invisible-character {
    color: #51565A;
  }

  &,
  .gutter {
    transition: .2s background linear;
    background: @syntax-background-color;

    .line-number {
      color: @syntax-background-color;
    }

    .icon-right {
      display: none;
    }
  }
}

atom-pane {
  border: 0 !important;
}


.atom-dock-toggle-button {
  display: none;
}

// tab bar
.tab-bar {
  background-color: @syntax-background-color;
  box-shadow: none;

  * {
    box-shadow: none !important;
  }

  span {
    color: @grey;
  }
}

.active {
  // make active pane darker
  atom-text-editor,
  .tab-bar,
  .gutter {
    background-color: @activebg;
  }

  .tab-bar {
    .active span {
      color: @syntax-text-color !important;
    }
  }

  .gutter {
    .line-number {
      color: @darkgrey;

      &.cursor-line-no-selection {
        color: @syntax-text-color;
      }
    }
  }
}

.tree-view {
    * {
      color: @beige;
    }

    [data-name*='.scss'],
    [data-name*='.css'],
    [data-name*='.less'],
    [data-name*='.sass'] {
      color: @brightgreen;
    }

    [data-name*='.js'],
    [data-name*='.json'] {
      color: @lightblue;
    }

    [data-name*='.tmpl'],
    [data-name*='.jsp'],
    [data-name*='.html'],
    [data-name*='.hbs'],
    [data-name*='.htm'],
    [data-name*='.tag'],
    [data-path*='.tld'] {
      color: @orange;
    }

    [data-name^='.'] {
      color: @red;
    }
}