.syntax--text {
  color: @syntax-text-color;
}

.syntax--support {
  &.syntax--class {
    color: @yellow-orange;
  }
  &.syntax--function {
    color: #aea2bd;
  }
}

.syntax--comment {
  &,
  .syntax--block {
    color: @darkgrey;
  }
}

.syntax--constant {
  color: @lightblue;
}

.syntax--keyword {
  color: @red;
}

.syntax--variable {
  color: @beige;
}

.syntax--invalid {
  color: @red;
  background-color: rgba(255, 0, 0, 0.19);
}

.syntax--storage {
  color: @green;
}

.syntax--entity.syntax--name.syntax--function {
  color: @lightgrey;
}

.syntax--string {
  color: @blue;
}

.syntax--variable.syntax--parameter,
.syntax--string.syntax--regexp {
  color: #D8E600;
}

.syntax--entity.syntax--name.syntax--type {
  text-decoration: underline;
}

.syntax--tag {
  &,
  .syntax--entity {
    color: @grey;
  }

  &.syntax--definition {
    &,
    .syntax--begin,
    .syntax--end {
      color: @blue;
    }
  }
}

.syntax--brace {
  color: @grey;
}

.syntax--meta.syntax--diff {
	color: @syntax-text-color;
	background-color: @darkgrey;
	&.syntax--header {
		color: @syntax-text-color;
		background-color: @darkgrey;
	}
}

.syntax--brackethighlighter.syntax--default {
  color: #72AACA;
}
