.syntax--json {
  .syntax--begin, .syntax--end {
    color: #A5A4B3;
  }

  .syntax--key {
    > * {
      color: #D4C2A7;
    }
  }

  .syntax--value, .syntax--constant {
    &, &.syntax--string {
      color: #96DAFF;
    }
  }
}