.syntax--scss, .syntax--less, .syntax--sass {
  .syntax--class {
    color: #D4C2A7;
  }

  .syntax--function {
    color: #CBC3B1;
  }

  .syntax--property-name {
    color: #9cb769;
  }

  .syntax--class {
    color: #D4C2A7;
  }
}