// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #e8e0cf;
@syntax-cursor-color: #BBBCBD;
@syntax-selection-color: #3C3F42;
@syntax-background-color: #262626;

// Guide colors
@syntax-wrap-guide-color: #7a8288;
@syntax-indent-guide-color: #7a8288;
@syntax-invisible-character-color: #7a8288;

// For find and replace markers
@syntax-result-marker-color: #7a8288;
@syntax-result-marker-color-selected: #e8e0cf;

// Gutter colors
@syntax-gutter-text-color: #e8e0cf;
@syntax-gutter-text-color-selected: #e8e0cf;
@syntax-gutter-background-color: #181818;
@syntax-gutter-background-color-selected: #202325;

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #96CBFE;
@syntax-color-added: #A8FF60;
@syntax-color-modified: #E9C062;
@syntax-color-removed: #CC6666;